/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html *,
html *::after,
html *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
