# Copyright 2022 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Prevent eth0 from getting renamed.
SUBSYSTEM=="net", KERNEL=="eth0", NAME="eth0"
